@model PcVadisi.Models.entity.urunler
@{
    ViewBag.Title = "urunGetir";
    Layout = "~/Views/Shared/_mainlyout.cshtml";
}

@using (Html.BeginForm("Guncelle", "urunler" , FormMethod.Post))
{
    
<div class="form-group">
    @Html.LabelFor(m => m.urunid)
    @Html.TextBoxFor(m => m.urunid, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.urunad)
    @Html.TextBoxFor(m => m.urunad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.urunkateogori)
    @Html.DropDownListFor(m=>m.kotegori.kotegoriid,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    @*@Html.TextBoxFor(m => m.urunkateogori, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(m => m.marka)
    @Html.TextBoxFor(m => m.marka, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.fiyat)
    @Html.TextBoxFor(m => m.fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.stok)
    @Html.TextBoxFor(m => m.stok, new { @class = "form-control" })

</div>
    <button class="btn btn-success">Düzenle</button>
}






